{% extends 'layouts/index.html' %}

{% block content %}
    <div class="products">
        {% for product in products %}
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h1 class="card-image">{{ product.image_of_product }}</h1>
                <h2 class="card-name">{{ product.name_of_product }}</h2>
                <h3 class="card-cost">{{ product.cost_of_product }}</h3>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>

        {% endfor %}

    </div>
{% endblock %}